.listItemContainer {
  background-color: white;
  text-decoration: none;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  border-radius: 10px;
  color: black;
  // width:200px;
  margin-right: 20px;
  box-shadow: 0px 2px 13px lightgray;
}

.list-item-date {
  font-size: 10px;   
}

.list-item-description {
  text-align: center;
  .list-item-title {
    font-size: 30px;
    margin: 0px;
  }
}